<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="static/style.css"> -->
    <title>Playground Game</title>
</head>
<style>
    .box {
        background-color: {{tempColor}};
        width: 100px;
        height: 100px;
        display: inline-block;
        margin: 7.5px;
    }
</style>
    <body> 
        {% for i in range(num) %}
            <div class="box"></div> 
        {% endfor %}




</div>
</body>

</html>