<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% csrf_token %}
    <p>Hi there!  You must have no life, because you visited this page: {{request.session.click_count}}  times!  GO OUTSIDE!</p>
    <br>
    <br>
    <a href="/add2">Add 2 to the counter!</a>
    <br>
    <br>
    <a href="/clear">Click here to start again and have even less of a life!</a>
</body>
</html>